/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos del buscador */
.search-container {
    position: absolute;
    right: 2rem;
    top: 1rem;
}

.search-container form {
    display: flex;
    align-items: center;
}

#search-input {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 200px;
}

#search-input:focus {
    border: 2px solid #666;
}

button[type="submit"] {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #666;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #444;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 3rem;
}

/* Estilos del deslizador */
.slider {
    width: 100%;
    overflow: hidden;
    margin: 2rem 0;
}

.slide-track {
    display: flex;
    width: calc(200%); /* Ancho suficiente para incluir dos conjuntos de imágenes */
    animation: scroll 30s linear infinite; /* Animación continua en bucle */
}

@keyframes scroll {
    0% {
        transform: translateX(0); /* Inicio en la primera imagen */
    }
    100% {
        transform: translateX(-50%); /* Desplazarse hasta la mitad (donde empieza la repetición) */
    }
}

.slide {
    min-width: 10%; /* Cada imagen ocupa el 10% del ancho, dado que hay 10 imágenes */
}

.slide img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Contenedor para los elementos (películas, series, libros, cómics) */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Cada columna tendrá al menos 150px y ocupará el espacio disponible */
    gap: 20px; /* Espacio entre los elementos */
    margin-top: 20px;
}

.item {
    text-align: center;
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.item p {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
}
